.details-container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .trailer-container {
    width: 100%;
  }
  
  .trailer-video {
    width: 100%;
    height: 400px;
  }
  
  .details-info {
    margin-top: 20px;
  }
  
  .movie-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .movie-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .movie-release,
  .movie-duration,
  .movie-director,
  .movie-rating {
    font-size: 14px;
    color: #777;
    margin-bottom: 5px;
  }
  /* animation the details */
  .animated-column {
    animation-name: slideInLeft; /* Define the animation name */
    animation-duration: 0.5s; /* Set the animation duration */
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%); /* Set the initial position */
    }
    to {
      transform: translateX(0); /* Set the final position */
    }
  }
  details-info {
    font-family: Arial, sans-serif; /* Set the font family */
  }
  
  .movie-title {
    font-size: 24px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
    /* Add more styles as needed */
  }
  
  .movie-description,
  .movie-release,
  .movie-duration,
  .movie-director,
  .movie-rating {
    font-size: 16px; /* Set the font size */
    /* Add more styles as needed */
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  